@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.contenedor {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
}

.card {
  width: 320px;
  background-color: #f2f2f2;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: solid 0.5px #cbc3c3;
  display: inline-block;
}

.card img {
  display: block;
  max-height: 280px;
  margin: 16px auto;
  filter: drop-shadow(2px 0px 8px #515151);
}

.card h2 {
  margin-top: 2px;
  margin-bottom: 8px;
  color: #373737;
  text-align: center;
}

.card p {
  font-size: 16px;
  color: #515151;
  text-align: center;
}

.R1 {
  background-color: #436b91;
}

.R2 {
  background-color: rgb(76, 125, 90);
}

.R2-2 {
  background-color: rgb(55, 44, 22);
}

.R2-3 {
  background-color: rgb(222, 145, 15);
}

.R2-4 {
  background-color: rgb(255, 0, 17);
}

.R2-5 {
  background-color: rgb(120, 69, 6);
}

.R3 {
  background-color: rgba(25, 99, 23, 0.5);
}

.R4 {
  background-image: url(characters/buu.jpg);

}

.R5 {
  background-image: url(characters/buu.jpg);
  background-position: center;
}

.R6 {
  background-image: url(characters/buu.jpg);
  background-position: center;
  background-size: cover;
}

.R7{
  background-image: url(characters/buu.jpg);
  background-position: center;
  background-size: 10%;
  background-attachment: fixed;
}

.R8{
   background-image: url(characters/buu.jpg);
  background-position: center;
  background-size: 10%;
  background-attachment: fixed;
  background: linear-gradient(blue, pink)
}

.R9{
  background: radial-gradient(rgb(0, 255, 85), rgb(196, 192, 255))
}
.R10{
   background: radial-gradient(rgb(255, 0, 200), rgb(196, 192, 255));
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 2px 2px #f5ca0ad0;  
}

.R11{
  background: radial-gradient(rgb(255, 0, 98), rgb(13, 216, 6));
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 2px 2px #f5ca0ad0;  
  font-family: "Sofia" , sans-serif;
  }

  .R12 {
  background: radial-gradient(rgb(255, 0, 98), rgb(27, 0, 27));
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 2px 2px #f5ca0ad0;  
  font-family: "Trirong", serif;
  font-size: 40px ;
  font-style: oblique ;
  font-weight: bold ; 
 
  }

   .R13 p{
  background: radial-gradient(rgb(255, 0, 98), rgb(27, 0, 27));
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 2px 2px #f5ca0ad0;  
  font-family: "Trirong", serif;
  font-size: 40px ;
  font-style: oblique ;
  font-weight: bold ; 
  font-size: 1.3rem ;
  }

  .R14 {
   background: radial-gradient(rgb(211, 233, 10), rgb(27, 0, 27));
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 2px 2px #f5ca0ad0;  
  font-family: "Trirong", serif;
  font-size: 40px ;
  font-style: oblique ;
  font-weight: bold ; 
  font-size: 1.3rem ;
  margin: 1.5em;
  padding: 2em ;
  }

  .contenedor_1{
    font-size: 20px;
  }

   .contenedor_1 p{
    font-size: 1.5em;
  }

   .contenedor_1 h2{
    font-size: 3rem;
  }

  .R16 {
  background: radial-gradient(rgb(137, 138, 133), rgb(27, 0, 27));
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 2px 2px #f5ca0ad0;  
  font-family: "Trirong", serif;
  font-size: 40px ;
  font-style: oblique ;
  font-weight: bold ; 
  font-size: 1.3rem ;
  margin: 1.5em;
  padding: 2em ;
  height: 35vh;
  width: 70vw;
  }
.R17 {
   background: radial-gradient(rgb(137, 138, 133), rgb(27, 0, 27));
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 2px 2px #f5ca0ad0;  
  font-family: "Trirong", serif;
  font-size: 40px ;
  font-style: oblique ;
  font-weight: bold ; 
  font-size: 1.3rem ;
  margin: 1.5em;
  padding: 2em ;
  height: 25vh;
  width: 50vw;
  max-width: 130px ;
  height: auto;
  }
  .R18 {
   background: radial-gradient(rgb(137, 138, 133), rgb(27, 0, 27));
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 2px 2px #f5ca0ad0;  
  font-family: "Trirong", serif;
  font-size: 40px ;
  font-style: oblique ;
  font-weight: bold ; 
  font-size: 1.3rem ;
  margin: 1.5em;
  padding: 2em ;
  height: 25vh;
  width: 50vw;
  max-width: 130px ;
  height: auto;
  object-fit: fill;
  }